body {
  width: 100%;
  /* height: 1080px; */
  height: 100%;
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: powderblue;
  /* clicked color */
  text-decoration: solid;
}

label {
  display: inline-block;
  text-align: left;
  color: white;
  font-size: 16px;
  margin: 5px;
  width: 50px;
  font-style: bold;
}

input[type=text] {
  background-color: black;
  color: #ffffff;
  font-size: 16px;
  width: 50px;
  padding: 5px;
  border: 2px solid white;
  box-sizing: border-box;
  margin: 2px;
}

input[type=text]:focus {
  background-color: darkslateblue;
  color: white;
  font-size: 16px;
  width: 50px;
  padding: 5px;
  border: 2px solid darkslateblue;
  box-sizing: border-box;
  margin: 2px;
}

button {
  background-color: black;
  color: white;
  font-size: 16px;
  width: 200px;
  padding: 5px;
  border: 2px solid white;
  box-sizing: border-box;
  margin: 2px;
}

button:hover {
  background-color: darkslateblue;
  color: white;
  font-size: 16px;
  width: 200px;
  padding: 5px;
  border: 2px solid darkslateblue;
  box-sizing: border-box;
  margin: 2px;
}

.bordure {
  /* width: 100%;
  height: 95vh; */
  /* height: 100%; */
  position: relative;
  /* border-style: solid;
  border-width: 4px;
  border-color: red; */
  /* clear: left; */
  border-width: 2px;
  border-style: solid;
  border-color: white;
}

.line {
  clear: left;
}

.cellule {
  float: left;
  width: 10px;
  height: 10px;
  /* width: 5%;
  height: 5%; */
  position: relative;
  /* background-color: transparent; */
  /* opacity: 1; */
  /* transition: 1s; */
  border-width: 1px;
}

.current {
  background-color: white;
  /* opacity: 0; */
  /* transition: background-color .3s linear; */
}

.processed {
  background-color: transparent;
  /* opacity: 0; */
  /* transition: 1s; */
}


.selectionned {
  background-color: royalblue;
  /* opacity: 0; */
  /* transition: 1s; */
}
.visited {
  background-color: red;
  /* opacity: 0; */
  /* transition: 1s; */
}


.x0 {
  border-right-style: solid;
  border-right-color: transparent;
  /* border-right-width: 0%; */
  border-top-style: solid;
  border-top-color: transparent;
  /* border-top-width: 0%; */
  border-left-style: solid;
  border-left-color: transparent;
  /* border-left-width: 0%; */
  border-bottom-style: solid;
  border-bottom-color: transparent;
  /* border-bottom-width: 0%; */
}
.x1 {
  border-right-style: solid;
  border-right-color: white;
  /* border-right-width: 25%; */
  border-top-style: solid;
  border-top-color: transparent;
  /* border-top-width: 0%; */
  border-left-style: solid;
  border-left-color: transparent;
  /* border-left-width: 0%; */
  border-bottom-style: solid;
  border-bottom-color: transparent;
  /* border-bottom-width: 0%; */
}
.x2 {
  border-right-style: solid;
  border-right-color: transparent;
  /* border-right-width: 0%; */
  border-top-style: solid;
  border-top-color: white;
  /* border-top-width: 25%; */
  border-left-style: solid;
  border-left-color: transparent;
  /* border-left-width: 0%; */
  border-bottom-style: solid;
  border-bottom-color: transparent;
  /* border-bottom-width: 0%; */
}
.x3 {
  border-right-style: solid;
  border-right-color: white;
  /* border-right-width: 25%; */
  border-top-style: solid;
  border-top-color: white;
  /* border-top-width: 25%; */
  border-left-style: solid;
  border-left-color: transparent;
  /* border-left-width: 0%; */
  border-bottom-style: solid;
  border-bottom-color: transparent;
  /* border-bottom-width: 0%; */
}
.x4 {
  border-right-style: solid;
  border-right-color: transparent;
  /* border-right-width: 0%; */
  border-top-style: solid;
  border-top-color: transparent;
  /* border-top-width: 0%; */
  border-left-style: solid;
  border-left-color: white;
  /* border-left-width: 25%; */
  border-bottom-style: solid;
  border-bottom-color: transparent;
  /* border-bottom-width: 0%; */
}
.x5 {
  border-right-style: solid;
  border-right-color: white;
  /* border-right-width: 25%; */
  border-top-style: solid;
  border-top-color: transparent;
  /* border-top-width: 0%; */
  border-left-style: solid;
  border-left-color: white;
  /* border-left-width: 25%; */
  border-bottom-style: solid;
  border-bottom-color: transparent;
  /* border-bottom-width: 0%; */
}
.x6 {
  border-right-style: solid;
  border-right-color: transparent;
  /* border-right-width: 0%; */
  border-top-style: solid;
  border-top-color: white;
  /* border-top-width: 25%; */
  border-left-style: solid;
  border-left-color: white;
  /* border-left-width: 25%; */
  border-bottom-style: solid;
  border-bottom-color: transparent;
  /* border-bottom-width: 0%; */
}
.x7 {
  border-right-style: solid;
  border-right-color: white;
  /* border-right-width: 25%; */
  border-top-style: solid;
  border-top-color: white;
  /* border-top-width: 25%; */
  border-left-style: solid;
  border-left-color: white;
  /* border-left-width: 25%; */
  border-bottom-style: solid;
  border-bottom-color: transparent;
  /* border-bottom-width: 0%; */
}
.x8 {
  border-right-style: solid;
  border-right-color: transparent;
  /* border-right-width: 0%; */
  border-top-style: solid;
  border-top-color: transparent;
  /* border-top-width: 0%; */
  border-left-style: solid;
  border-left-color: transparent;
  /* border-left-width: 0%; */
  border-bottom-style: solid;
  border-bottom-color: white;
  /* border-bottom-width: 25%; */
}
.x9 {
  border-right-style: solid;
  border-right-color: white;
  /* border-right-width: 25%; */
  border-top-style: solid;
  border-top-color: transparent;
  /* border-top-width: 0%; */
  border-left-style: solid;
  border-left-color: transparent;
  /* border-left-width: 0%; */
  border-bottom-style: solid;
  border-bottom-color: white;
  /* border-bottom-width: 25%; */
}
.xA {
  border-right-style: solid;
  border-right-color: transparent;
  /* border-right-width: 0%; */
  border-top-style: solid;
  border-top-color: white;
  /* border-top-width: 25%; */
  border-left-style: solid;
  border-left-color: transparent;
  /* border-left-width: 0%; */
  border-bottom-style: solid;
  border-bottom-color: white;
  /* border-bottom-width: 25%; */
}
.xB {
  border-right-style: solid;
  border-right-color: white;
  /* border-right-width: 25%; */
  border-top-style: solid;
  border-top-color: white;
  /* border-top-width: 25%; */
  border-left-style: solid;
  border-left-color: transparent;
  /* border-left-width: 0%; */
  border-bottom-style: solid;
  border-bottom-color: white;
  /* border-bottom-width: 25%; */
}
.xC {
  border-right-style: solid;
  border-right-color: transparent;
  /* border-right-width: 0%; */
  border-top-style: solid;
  border-top-color: transparent;
  /* border-top-width: 0%; */
  border-left-style: solid;
  border-left-color: white;
  /* border-left-width: 25%; */
  border-bottom-style: solid;
  border-bottom-color: white;
  /* border-bottom-width: 25%; */
}
.xD {
  border-right-style: solid;
  border-right-color: white;
  /* border-right-width: 25%; */
  border-top-style: solid;
  border-top-color: transparent;
  /* border-top-width: 0%; */
  border-left-style: solid;
  border-left-color: white;
  /* border-left-width: 25%; */
  border-bottom-style: solid;
  border-bottom-color: white;
  /* border-bottom-width: 25%; */
}
.xE {
  border-right-style: solid;
  border-right-color: transparent;
  /* border-right-width: 0%; */
  border-top-style: solid;
  border-top-color: white;
  /* border-top-width: 25%; */
  border-left-style: solid;
  border-left-color: white;
  /* border-left-width: 25%; */
  border-bottom-style: solid;
  border-bottom-color: white;
  /* border-bottom-width: 25%; */
}
.xF {
  border-right-style: solid;
  border-right-color: white;
  /* border-right-width: 25%; */
  border-top-style: solid;
  border-top-color: white;
  /* border-top-width: 25%; */
  border-left-style: solid;
  border-left-color: white;
  /* border-left-width: 25%; */
  border-bottom-style: solid;
  border-bottom-color: white;
  /* border-bottom-width: 25%; */
  background-color: white;
}
