<!DOCTYPE html>
<html lang="en-US">
<link rel="stylesheet" href="css/styles.css">
<script src="scripts/angular.js"></script>
<script src="scripts/maze-common-old.js"></script>
<head>
  <meta charset="UTF-8">
</head>
<body>
<div ng-app="myApp" ng-controller="myCtrl">

  <span ng-show="labyrinthe.initializing">Initialization in progress...</span>

  <h1>
    <button ng-click="listener.generate(labyrinthe, labyrinthe2)">Generate</button>
    <button ng-click="listener.generateQuick(labyrinthe, labyrinthe2)">Quick Generate</button>
  </h1>
  <div style="display: inline-block; position: relative;">
    <h2>
      <a href="https://fr.wikipedia.org/wiki/Mod%C3%A9lisation_math%C3%A9matique_de_labyrinthe#Exploration_exhaustive">Exploration exhaustive</a>
    </h2>
    <span>
      <label>Width</label>
      <input type="text" name="labyrinthe2Width" ng-model="labyrinthe2.width" required/>
      <br/>
      <label>Height</label>
      <input type="text" name="labyrinthe2Height" ng-model="labyrinthe2.height" required/>
    </span>
    <br/>
    <h3>
      <span>| Iteration {{labyrinthe2.iteration}} |</span>
      <button ng-show="labyrinthe2.generated" ng-click="listener.resolveLabyrinthe(null, null, labyrinthe2)">Resolve</button>
      <button ng-show="labyrinthe2.generated" ng-click="listener.resolveQuickLabyrinthe(null, null, labyrinthe2)">Quick Resolve</button>
      <br/>
      <span ng-show="labyrinthe2.generated">| Generation duration: {{labyrinthe2.generationDuration}}ms |</span>
      <span ng-show="labyrinthe2.generated"> Steps: {{labyrinthe2.resolutionStep}} | Resolution duration: {{labyrinthe2.resolutionDuration}}ms |</span>
      <span ng-show="labyrinthe2.generating">Generating...</span>
      <span ng-show="labyrinthe2.resolving">Resolving...</span>
    </h3>
    <div class="bordure" style="width: {{comprehensiveExplorationLabyrinthe.width * comprehensiveExplorationLabyrinthe.cssSize }}px; height: {{comprehensiveExplorationLabyrinthe.height * comprehensiveExplorationLabyrinthe.cssSize }}px;">
      <div 
        ng-repeat="ligne in comprehensiveExplorationLabyrinthe.cellules"
        class="line">
        <div 
          ng-repeat="cellule in ligne"
          ng-class="comprehensiveExplorationLabyrinthe.getCssClass(cellule)"
          ng-click="listener.setStartOrEnd(cellule, labyrinthe2)"
          style="width: {{ comprehensiveExplorationLabyrinthe.cssSize - 2 }}px; height: {{ comprehensiveExplorationLabyrinthe.cssSize - 2 }}px; border-width: 1px"><!--{{cellule.processed}}--></div>
      </div>
    </div>
  </div>
  <div style="display: inline-block; position: relative;">
    <h1>VS</h1>
  </div>
  <!-- <br/><br/><br/> -->
  <div style="display: inline-block; position: relative;">
    <h2>
      <a href="https://fr.wikipedia.org/wiki/Mod%C3%A9lisation_math%C3%A9matique_de_labyrinthe#Fusion_al%C3%A9atoire_de_chemins">Fusion aléatoire de chemins</a>
    </h2>
    <span>
      <label>Width</label>
      <input type="text" name="labyrinthe1Width" ng-model="labyrinthe.width" required/>
      <br/>
      <label>Height</label>
      <input type="text" name="labyrinthe1Height" ng-model="labyrinthe.height" required/>
    </span>
    <h3>
      <span>| Iteration {{labyrinthe.iteration}} |</span>
      <button ng-show="labyrinthe.generated" ng-click="listener.resolveLabyrinthe(null, null, labyrinthe)">Resolve</button>
      <button ng-show="labyrinthe.generated" ng-click="listener.resolveQuickLabyrinthe(null, null, labyrinthe)">Quick Resolve</button>
      <br/>
      <span ng-show="labyrinthe.generated">| Generation duration: {{labyrinthe.generationDuration}}ms |</span>
      <span ng-show="labyrinthe.generated">Steps: {{labyrinthe.resolutionStep}} | Resolution duration: {{labyrinthe.resolutionDuration}}ms |</span>
      <span ng-show="labyrinthe.generating">Generating...</span>
      <span ng-show="labyrinthe.resolving">Resolving...</span>
    </h3>
    <div class="bordure" style="width: {{ randomWayFusionLabyrinthe.width * randomWayFusionLabyrinthe.cssSize }}px;  height: {{ randomWayFusionLabyrinthe.height * randomWayFusionLabyrinthe.cssSize }}px;">
      <div 
        ng-repeat="ligne in randomWayFusionLabyrinthe.cellules"
        class="line">
        <div 
          ng-repeat="cellule in ligne"
          ng-click="listener.setStartOrEnd(cellule, labyrinthe)"
          ng-class="randomWayFusionLabyrinthe.getCssClass(cellule)"
          style="width: {{ randomWayFusionLabyrinthe.cssSize - 2 }}px; height: {{ randomWayFusionLabyrinthe.cssSize - 2 }}px; border-width: 1px"><!-- {{cellule.zoneId}} -->
        </div>
      </div>
    </div>
  </div>
    <!-- <br/><br/> -->
</div>
<script type="text/javascript">
  
// var app = angular.module('myApp', []);

// Mur de droite: 0x1
// Mur du haut: 0x2
// Mur de gauche: 0x4
// Mur du bas: 0x8

//  _
// |_| = 0xF = 0b1111
//

// https://fr.wikipedia.org/wiki/Mod%C3%A9lisation_math%C3%A9matique_de_labyrinthe#Fusion_al%C3%A9atoire_de_chemins
app.service('comprehensiveExploration', function() {
  this._getPossibleWallsToRemove = function(cellule, labyrinthe) {
    var possibleWallsToRemove = [];
    // S'il y une cellule à gauche
    if (cellule.x > 0
        // Et qu'il y un mur
        // && (cellule.value & 0x4) == 0x4
        // Et que la cellule de gauche n'a pas été traitée
        && labyrinthe.cellules[cellule.y][cellule.x - 1].processed == false) {
      possibleWallsToRemove.push({
        orientation: 0x4,
        opposite: 0x1,
        nextCellule: labyrinthe.cellules[cellule.y][cellule.x - 1]
      });
    }
    // S'il y une cellule à droite
    if (cellule.x < (labyrinthe.width - 1)
        // Et qu'il y un mur
        // && (cellule.value & 0x1) == 0x1
        // Et que la cellule de droite n'a pas été traitée
        && labyrinthe.cellules[cellule.y][cellule.x + 1].processed == false) {
      possibleWallsToRemove.push({
        orientation: 0x1,
        opposite: 0x4,
        nextCellule: labyrinthe.cellules[cellule.y][cellule.x + 1]
      });
    }
    // S'il y une cellule en haut
    if (cellule.y > 0
        // Et qu'il y un mur
        // && (cellule.value & 0x2) == 0x2
        // Et que la cellule en haut n'a pas été traitée
        && labyrinthe.cellules[cellule.y - 1][cellule.x].processed == false) {
      possibleWallsToRemove.push({
        orientation: 0x2,
        opposite: 0x8,
        nextCellule: labyrinthe.cellules[cellule.y - 1][cellule.x]
      });
    }
    // S'il y une cellule en bas
    if (cellule.y < (labyrinthe.height - 1)
        // Et qu'il y un mur
        // && (cellule.value & 0x8) == 0x8
        // Et que la cellule en bas n'a pas été traitée
        && labyrinthe.cellules[cellule.y + 1][cellule.x].processed == false) {
      possibleWallsToRemove.push({
        orientation: 0x8,
        opposite: 0x2,
        nextCellule: labyrinthe.cellules[cellule.y + 1][cellule.x]
      });
    }
    return possibleWallsToRemove;
  }

  this._breakWall = function(cellule, wallToBreak, labyrinthe) {
    // console.log('before: ' + cellule.value + ' ' + wallToBreak.nextCellule.value);
    var mask = 0xF ^ wallToBreak.orientation;
    cellule.value = cellule.value & mask;
    var oppositeMask = 0xF ^ wallToBreak.opposite;
    wallToBreak.nextCellule.value = wallToBreak.nextCellule.value & oppositeMask;
    // console.log('after: ' + cellule.value + ' ' + wallToBreak.nextCellule.value);
  } 

  this.init = function(labyrinthe) {
    for (var j = 0; j < labyrinthe.height; j++) {
      var ligne = labyrinthe.cellules[j];
      // console.log('ligne: ' + JSON.stringify(ligne));
      for (var i = 0; i < labyrinthe.width; i++) {
        var cellule = ligne[i];
        cellule.processed = false;
        cellule.current = false;
        // console.log('zones[' + id + ']: ' + JSON.stringify(zones[id]));
      }
    }
    var firstCelluleX = Math.floor(Math.random() * labyrinthe.width);
    var firstCelluleY = Math.floor(Math.random() * labyrinthe.height);
    labyrinthe.cellulesWithBreakableWall = [];
    labyrinthe.currentCellule = labyrinthe.cellules[firstCelluleY][firstCelluleX];
    labyrinthe.currentCellule.current = true;
    labyrinthe.iteration = 0;
  }

  this.generate = function(labyrinthe, finish) {
    // this._initCellules(labyrinthe);
    // console.log('Labyrinthe: ' + JSON.stringify(labyrinthe));

    // var cellule = labyrinthe.currentCellule;
    labyrinthe.currentCellule.processed = true;

    // Si la cellule courante est un cul de sac il faut rebrousser chemin jusqu'à trouver une cellule 
    // qui a au moins 1 cellule non traitée autour d'elle (une cellule non traitée n'a aucun mur cassé)
    // var possibleWallsToRemove = [];
    var possibleWallsToRemove = this._getPossibleWallsToRemove(labyrinthe.currentCellule, labyrinthe);
    // Tant que la cellule courante n'a pas de cellule non traitée autour d'elle (haut bas gauche droite)
    while (possibleWallsToRemove.length == 0) {
      // On dépile les cellule précédentes qui avaient encore au moins 1 cellule non traitée autour d'elle
      // Jusqu'à ce qu'on trouve une cellule qui a une cellule non traitée autour d'elle
      labyrinthe.currentCellule.current = false;
      labyrinthe.currentCellule = labyrinthe.cellulesWithBreakableWall.pop();
      // Si on n'a plus aucune cellule qui a une cellule non traitée autour d'elle, c'est fini
      if (labyrinthe.currentCellule == null) {
        console.log('comprehensiveExploration finished');
        finish();
        return;
      }
      labyrinthe.currentCellule.current = true;
      possibleWallsToRemove = this._getPossibleWallsToRemove(labyrinthe.currentCellule, labyrinthe);
    }

    // console.log('labyrinthe.iteration: ' + labyrinthe.iteration + ', cellule: ' + JSON.stringify(cellule));
    // On choisit au hasard un mur dans la liste des murs cassables (min 1, max 4) autour de la cellule
    var wallToBreak = possibleWallsToRemove[Math.floor(Math.random() * possibleWallsToRemove.length)];
    // On le casse
    this._breakWall(labyrinthe.currentCellule, wallToBreak, labyrinthe);
    // S'il reste encore au moins 1 cellule non traitée autour de la cellule après ça
    if (possibleWallsToRemove.length - 1 > 0) {
      // On empile la cellule dans la liste des cellules ayant encore au moins 1 cellule non traitée autour d'elle
      // Donc avec un mur à casser
      labyrinthe.cellulesWithBreakableWall.push(labyrinthe.currentCellule);
    }

    labyrinthe.currentCellule.current = false;
    labyrinthe.currentCellule = wallToBreak.nextCellule;
    labyrinthe.currentCellule.current = true;
    labyrinthe.iteration++;
    // console.log("INFO labyrinthe.iteration: " + labyrinthe.iteration);
  }
});

// https://fr.wikipedia.org/wiki/Mod%C3%A9lisation_math%C3%A9matique_de_labyrinthe#Fusion_al%C3%A9atoire_de_chemins
app.service('randomWayFusion', function() {

  // At start, each cell is in its own zone
  this._initZones = function(labyrinthe) {

    var initZone = function(id) {
      zone = {
        size: 1
      };

      zone.parent = zone;
      return zone;
    }

    var zones = [];
    var id = 0;
    for (var j = 0; j < labyrinthe.height; j++) {
      var ligne = labyrinthe.cellules[j];
      // console.log('ligne: ' + JSON.stringify(ligne));
      for (var i = 0; i < labyrinthe.width; i++) {
        var cellule = ligne[i];
        zones[id] = initZone();
        cellule.zone = zone;
        id++;
      }
    }
    labyrinthe.zones = zones;
  }

  this._initWalls = function(labyrinthe) {
    var walls = [];
    var id = 0;
    // On ne traite pas les murs extérieurs, on fera un trou de chaque côté plus tard
    for (var j = 0; j < labyrinthe.height; j++) {
      // console.log('ligne: ' + JSON.stringify(ligne));
      for (var i = 0; i < labyrinthe.width; i++) {
        if (j < (labyrinthe.height - 1)) {
          var wallHorizontal = {
            id: id,
            type: "h",
            celluleTop: labyrinthe.cellules[j][i],
            celluleBottom: labyrinthe.cellules[j + 1][i],
          }
          walls[id] = wallHorizontal;
          id++;
        }
        
        if ( i < (labyrinthe.width - 1)) {
          var wallVertical = {
            id: id,
            type: "v",
            celluleLeft: labyrinthe.cellules[j][i],
            celluleRight: labyrinthe.cellules[j][i + 1],
          }
          walls[id] = wallVertical;
          id++;
        }
      }
    }
    labyrinthe.walls = walls;
  }

  this.init = function(labyrinthe) {
    this._initZones(labyrinthe);
    this._initWalls(labyrinthe);
    labyrinthe.iteration = 0;
  }

  // Return root zone master of current zone
  this._getParentZone = function(zone) {
    // console.log('zoneId: ' + zoneId + ', zone: ' + JSON.stringify(zone));
    while (zone != zone.parent) {
      parent = zone.parent;
      // Path compression
      zone.parent = parent.parent;
      zone = zone.parent;
    }
    return zone;
  }

  this._fusionZones = function(zone1, zone2) {
    if (zone1.size > zone2.size) {
      zone2.parent = zone1;
      zone1.size += zone2.size;
    } else {
      zone1.parent = zone2;
      zone2.size += zone1.size;
    }
  }
  
  this.generate = function(labyrinthe, finish) {
    // Au départ:
    // * Chaque zone contient 1 cellule 
    // ==> On a donc autant de zones que de cellules
    // * Toutes les cellules ont 4 murs
    // ==> On a donc:
    //    (labyrinthe.width + 1) murs verticaux
    //    (labyrinthe.height + 1) murs horizontaux
    
    var zones = labyrinthe.zones;
    // console.log('zones: ' + JSON.stringify(zones));
    var walls = labyrinthe.walls;

    // Nombre d'itérations: labyrinthe.width * labyrinthe.height - 1
    // Ou sinon lorsqu'il ne reste plus qu'une seule zone
    // for (var i = 0; i < (labyrinthe.width * labyrinthe.height - 1); i++) {
    // On peut arrêter si tous les murs cassables sont traités (tous ne sont pas forcément cassables, si les zones sont les mêmes)
    // if (walls.length > 0) {
    // Mais le labyrinthe est fini si on a fusionné toutes les zones en une seule donc si on a traité toutes les cellules
    if (labyrinthe.iteration < (labyrinthe.width * labyrinthe.height - 1)) {
      var wallIdToBreak = Math.floor(Math.random() * walls.length);
      // console.log('remaing walls: ' + walls.length + ', wallIdToBreak: ' + walls[wallIdToBreak].id);
      var wallToBreak = walls[wallIdToBreak];
      // var startTimeSetZoneId;
      // var endTimeSetZoneId;
      // var endTimeConcat;
      if (wallToBreak.type == "h") {
        // Si cellules de chaque côté du mur appartiennent à la même zone,
        // on ne casse pas le mur mais on le supprime de la liste des murs à traiter
        var zoneTop = this._getParentZone(wallToBreak.celluleTop.zone);
        var zoneBottom = this._getParentZone(wallToBreak.celluleBottom.zone);
        // Si les zones sont les mêmes, on supprime le mur de la liste des murs à casser
        if (zoneTop != zoneBottom) {
          // On fusionne les 2 zones
          this._fusionZones(zoneTop, zoneBottom);

          // On casse le mur du bas (0x8) de la cellule du haut...
          wallToBreak.celluleTop.value = wallToBreak.celluleTop.value & 0x7;
          // ... et le mur du haut (0x2) de la cellule du bas...
          wallToBreak.celluleBottom.value = wallToBreak.celluleBottom.value & 0xD;
          // console.log('top: ' + zoneTop.id + ', bottom: ' + zoneBottom.id + ', top length: ' + zoneTop.cellules.length + ', bottom length: ' + zoneBottom.cellules.length + ', set id duration:' + (endTimeSetZoneId - startTimeSetZoneId) + 'ms, concat duration: ' + ( endTimeConcat - endTimeSetZoneId) + 'ms');
          labyrinthe.iteration++;
        }
      }

      if (wallToBreak.type == "v") {
        // On ne casse pas le mur mais on l'enlève de la liste des murs à casser
        var zoneLeft = this._getParentZone(wallToBreak.celluleLeft.zone);
        var zoneRight = this._getParentZone(wallToBreak.celluleRight.zone);
        // Si les zones sont les mêmes, on supprime le mur de la liste des murs à casser
        if (zoneLeft != zoneRight) {
          // On fusionne les 2 zones
          this._fusionZones(zoneLeft, zoneRight);

          // On casse le mur de droite (0x1) de la cellule de gauche...
          wallToBreak.celluleLeft.value = wallToBreak.celluleLeft.value & 0xE;
          // ... et le mur de gauche (0x4) de la cellule du droite...
          wallToBreak.celluleRight.value = wallToBreak.celluleRight.value & 0xB;
          // console.log('left: ' + zoneLeft.id + ', right: ' + zoneRight.id + ', left length: ' + zoneLeft.cellules.length + ', right length: ' + zoneRight.cellules.length + ', set id duration:' + (endTimeSetZoneId - startTimeSetZoneId) + 'ms, concat duration: ' + ( endTimeConcat - endTimeSetZoneId) + 'ms');
          labyrinthe.iteration++;
        }
      }
      // On supprime le mur de la liste des murs
      walls.splice(walls.indexOf(wallToBreak), 1);
      console.log('labyrinthe.iteration: ' + labyrinthe.iteration + ', walls.length: ' + walls.length);
    } else {
      console.log('randomWayFusion finished');
      finish();
    }
  }
});

app.controller('myCtrl', function($scope, $timeout, $document, randomWayFusion, comprehensiveExploration, resolve) {
	console.log('Setting labyrinthe...');
  var windowsWidth = window.innerWidth;
  var windowsHeight = window.innerHeight;
  console.log("windowsWidth: " + windowsWidth + ", windowsHeight:" + windowsHeight);
  $scope.labyrinthe = new Labyrinthe(windowsWidth, windowsHeight);
  $scope.labyrinthe2 = new Labyrinthe(windowsWidth, windowsHeight);
  // var labyrinthe = new Labyrinthe(windowsWidth, windowsHeight);
  // var labyrinthe2 = new Labyrinthe(windowsWidth, windowsHeight);

  var EventListener = function(randomWayFusion, labyrinthe, comprehensiveExploration, labyrinthe2, resolve) {
    var started = false;
    this.init = function(labyrinthe, labyrinthe2) {
      console.log("Initialization...")
    }
    this.generate = function(labyrinthe, labyrinthe2) {
      if (! started) {
        // $scope.labyrinthe = labyrinthe;
        // $scope.labyrinthe2 = labyrinthe2;
        started = true;
        labyrinthe.generating = true;
        labyrinthe2.generating = true;

        labyrinthe.init();
        labyrinthe2.init();
        randomWayFusion.init(labyrinthe);
        comprehensiveExploration.init(labyrinthe2);
        $scope.randomWayFusionLabyrinthe = labyrinthe;
        $scope.comprehensiveExplorationLabyrinthe = labyrinthe2;
        this.generateRandomWayFusion(labyrinthe);
        this.generateComprehensiveExploration(labyrinthe2);
      } else {
        console.log('generation already started');
      }
    }
    this.generateQuick = function(labyrinthe, labyrinthe2) {
      if (! started) {
        started = true;
        labyrinthe.generating = true;
        labyrinthe.init();
        labyrinthe2.init();
        randomWayFusion.init(labyrinthe);
        comprehensiveExploration.init(labyrinthe2);
        var startTime = Date.now();
        this.generateQuickRandomWayFusion(labyrinthe);
        var endTime = Date.now();
        labyrinthe.generationDuration = endTime - startTime;
        console.log("Random Way Fusion generation duration: " + labyrinthe.generationDuration + "ms");

        startTime = Date.now();
        this.generateQuickComprehensiveExploration(labyrinthe2);
        endTime = Date.now();
        labyrinthe2.generationDuration = endTime - startTime;
        $scope.randomWayFusionLabyrinthe = labyrinthe;
        $scope.comprehensiveExplorationLabyrinthe = labyrinthe2;
        console.log("Comprehensive Exploration generation duration: " + labyrinthe2.generationDuration + "ms");
      } else {
        console.log('generation already started');
      }
    }
    this.generateComprehensiveExploration = function(labyrinthe) {
      function finish() {
        clearInterval(intervalId);
        labyrinthe.generating = false;
        labyrinthe.generated = true;
      }
      // On lance la génération en boucle en async pour qu'angularjs affiche bien le labyrinthe
      // au fur & à mesure de sa génération
      // Quand c'est fini la callback "finish" arrête la boucle
      var intervalId = setInterval(function() {
        $scope.$evalAsync(comprehensiveExploration.generate(labyrinthe, finish));
      }, 0);
    }
    this.generateRandomWayFusion = function(labyrinthe) {
      function finish() {
        clearInterval(intervalId);
        labyrinthe.generating = false;
        labyrinthe.generated = true;
      }
      // On lance la génération en boucle en async pour qu'angularjs affiche bien le labyrinthe
      // au fur & à mesure de sa génération
      // Quand c'est fini la callback "finish" arrête la boucle
      var intervalId = setInterval(function() {
        $scope.$evalAsync(randomWayFusion.generate(labyrinthe, finish)) 
      }, 0);
    }
    this.generateQuickComprehensiveExploration = function(labyrinthe) {
      var finished = false;
      function finish() {
        finished = true;
        labyrinthe.generating = false;
        labyrinthe.generated = true;
        console.log('generateQuickComprehensiveExploration finished');
      }
      while (! finished) {
        comprehensiveExploration.generate(labyrinthe, finish);
      }
    }
    this.generateQuickRandomWayFusion = function(labyrinthe) {
      var finished = false;
      function finish() {
        finished = true;
        labyrinthe.generating = false;
        labyrinthe.generated = true;
      }
      while (! finished) {
        randomWayFusion.generate(labyrinthe, finish);
      }
    }
    this.resolveLabyrinthe = function(celluleStart, celluleEnd, labyrinthe) {
      labyrinthe.resetResolution();
      if (celluleStart == null) {
        celluleStart = labyrinthe.cellules[0][0];
        celluleStart.selectedStart = true;
        labyrinthe.celluleStart = celluleStart;
      }
      if (celluleEnd == null) {
        celluleEnd = labyrinthe.cellules[labyrinthe.height - 1][labyrinthe.width - 1];
        celluleEnd.selectedEnd = true;
        labyrinthe.celluleEnd = celluleEnd;
      }
      var cellule = celluleStart;
      function finish() {
        clearInterval(intervalId);
        labyrinthe.resolving = false;
        labyrinthe.resolved = true;
        console.log('Resolution finished')
      }
      labyrinthe.resolving = true;
      console.log('Resolution start')
      resolve.initEnd(celluleEnd, labyrinthe);
      var intervalId = setInterval(function() {
        $scope.$evalAsync(cellule = resolve.fromCellule(cellule, finish, labyrinthe));
      }, 0);
    }
    this.resolveQuickLabyrinthe = function(celluleStart, celluleEnd, labyrinthe) {
      if (celluleStart == null) {
        labyrinthe.resetResolution();
        celluleStart = labyrinthe.cellules[0][0];
        celluleStart.selectedStart = true;
        labyrinthe.celluleStart = celluleStart;
      }
      if (celluleEnd == null) {
        celluleEnd = labyrinthe.cellules[labyrinthe.height - 1][labyrinthe.width - 1];
        celluleEnd.selectedEnd = true;
        labyrinthe.celluleEnd = celluleEnd;
      }
      var cellule = celluleStart;
      var finished = false;
      function finish() {
        finished = true;
        labyrinthe.resolving = false;
        labyrinthe.resolved = true;
        console.log('Resolution finished')
      }
      labyrinthe.resolving = true;
      console.log('Resolution start')
      var startTime = Date.now();
      var startTimeInitialization = startTime;
      resolve.initEnd(celluleEnd, labyrinthe);
      var endTimeInitialization = Date.now();
      console.log("Labyrinthe resolution initialization duration: " + (endTimeInitialization - startTimeInitialization) + "ms");

      var startTimeCrawl = endTimeInitialization;
      while (! finished) {
        cellule = resolve.fromCellule(cellule, finish, labyrinthe);
      }
      var endTime = Date.now();
      var endTimeCrawl = endTime;
      labyrinthe.resolutionDuration = endTime - startTime;
      console.log("Labyrinthe resolution crawling duration: " + (endTimeCrawl - startTimeCrawl) + "ms");
      console.log("Labyrinthe resolution duration: " + labyrinthe.resolutionDuration + "ms");
    }
    this.setStartOrEnd = function(cellule, labyrinthe) {
      if (labyrinthe.celluleEnd != null) {
        labyrinthe.resetResolution();
      } else if (labyrinthe.celluleStart == null) {
        labyrinthe.celluleStart = cellule;
        cellule.selectedStart = true;
      } else {
        if (cellule != cellule.selectedStart) {
          labyrinthe.celluleEnd = cellule;
          cellule.selectedEnd = true;
          this.resolveQuickLabyrinthe(labyrinthe.celluleStart, labyrinthe.celluleEnd, labyrinthe);
        }
      }
    }
  }
  var eventListener = new EventListener(randomWayFusion, $scope.labyrinthe, comprehensiveExploration, $scope.labyrinthe2, resolve);
  // var eventListener = new EventListener(randomWayFusion, labyrinthe, comprehensiveExploration, labyrinthe2, resolve);
  $scope.listener = eventListener;
});


  </script>
</body>
</html>
